<section>
	<div class="toggled" id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<div class="d-flex flex-column flex-shrink-0 border-1 border-end border-secondary-subtle fs-14 vh-100">

				<a class="d-flex align-items-center mx-auto mt-4 px-3 pt-3 " href="#/">
					<img alt="Lumincoin" src="images/logo.png" width="98">
				</a>

				<hr>

				<ul class="nav nav-pills flex-column mb-auto sidebar-nav-items p-3">

					<li class="nav-item">
						<a class="fs-14 nav-link d-flex align-items-center gap-2 link-body-emphasis active"
						   href="#/">
							<i class="bi bi-house"></i>
							Главная
						</a>
					</li>

					<li class="nav-item">
						<a class="fs-14 nav-link d-flex align-items-center gap-2 link-body-emphasis"
						   href="#/income-and-expense">
							<i class="bi bi-cash-coin"></i>
							Доходы & Расходы
						</a>
					</li>

					<li class="nav-item">
						<a class="fs-14 nav-link d-flex align-items-center gap-2 rounded-bottom-0 link-body-emphasis"
						   data-bs-target="#category-collapse" data-bs-toggle="collapse" href="javascript:void(0)"
						   id="category-button">
							Категории
						</a>
						<div class="category-items collapse list-group rounded-top-0" id="category-collapse">
							<a class="list-group-item bg-transparent" href="#/income">Доходы</a>
							<a class="list-group-item bg-transparent" href="#/expense">Расходы</a>
						</div>
					</li>

				</ul>

				<div class="sidebar-balance-item fw-medium px-3">
					Баланс: <span class="ms-2 text-primary" id="balance">500$</span>
				</div>

				<hr>

				<div class="sidebar-user-item px-3 pb-3">
					<a class="d-flex align-items-center link-body-emphasis text-decoration-none"
					   href="javascript:void(0)">
						<img alt="Аватар" class="rounded-circle me-3 img" height="36" src="images/avatar.svg"
						     width="36">
						<p class="m-0">RomanChernov</p>
					</a>
				</div>

			</div>
		</div>


		<div id="page-content-wrapper">
			<!-- Page Content -->
		</div>
	</div>
</section>