<section>

	<div class="d-none vh-100 vw-100 position-fixed top-0 start-0 bg-opacity-50 bg-black z-3">
		<div class="popup-card card position-fixed top-50 start-50 translate-middle">
			<div class="card-body text-center" style="padding: 40px">
				<h4 class="h6 mb-3">Вы действительно хотите удалить операцию?</h4>
				<div class="d-flex gap-2 justify-content-center">
					<a class="btn btn-success" href="#">Да, удалить</a>
					<a class="btn btn-danger" href="#">Не удалять</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid gx-0">

		<div class="position-relative fs-14 p-0 p-lg-4">

			<a class=" float-right rounded-circle position-absolute top-0 start-0 d-lg-none z-2"
			   href="javascript:void(0)" id="menu-toggle">
				<i class="bi bi-arrow-right-circle-fill h2"></i>
			</a>

			<div class="main-title h1 pb-2 text-center text-lg-start">Доходы и расходы</div>

			<div class="d-flex gap-2 pt-4">
				<a class="btn btn-success" href="#/income-and-expense-create" id="add-income" role="button">Создать доход</a>
				<a class="btn btn-danger" href="#/income-and-expense-create" id="add-expense" role="button">Создать расход</a>
			</div>

			<div class="d-flex flex-wrap d-flex gap-3 py-5">
				<input autocomplete="off" checked class="btn-check" id="today-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="today-input">Сегодня</label>

				<input autocomplete="off" class="btn-check" id="week-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="week-input">Неделя</label>

				<input autocomplete="off" class="btn-check" id="month-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="month-input">Месяц</label>

				<input autocomplete="off" class="btn-check" id="year-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="year-input">Год</label>

				<input autocomplete="off" class="btn-check" id="all-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="all-input">Все</label>

				<input autocomplete="off" class="btn-check" id="interval-input" name="options" type="radio">
				<label class="btn btn-outline-secondary" for="interval-input">Интервал</label>

				<div class="d-flex align-items-center gap-4">
					<div class="fw-medium">с <a class="text-secondary ms-2" href="javascript:void(0)">Дата</a></div>
					<div class="fw-medium">по <a class="text-secondary ms-2" href="javascript:void(0)">Дата</a>
					</div>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table text-center border-top">
					<thead>
					<tr>
						<th>№ операции</th>
						<th>Тип</th>
						<th>Категория</th>
						<th>Сумма</th>
						<th>Дата</th>
						<th>Комментарий</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="fw-bold">1</td>
						<td class="text-success">доход</td>
						<td>зарплата</td>
						<td>500$</td>
						<td>11.09.2022</td>
						<td></td>
						<td class="d-flex gap-2">
							<a class="link-body-emphasis" href="javascript:void(0)"><i class="bi bi-trash"></i></a>
							<a class="link-body-emphasis" href="#/income-and-expense-edit">
								<i class="bi bi-pencil"></i>
							</a>
						</td>
					</tr>
					<tr>
						<td class="fw-bold">2</td>
						<td class="text-danger">расход</td>
						<td>жильё</td>
						<td>2500$</td>
						<td>12.09.2022</td>
						<td></td>
						<td class="d-flex gap-2">
							<a class="link-body-emphasis" href="javascript:void(0)"><i class="bi bi-trash"></i></a>
							<a class="link-body-emphasis" href="#/income-and-expense-edit">
								<i class="bi bi-pencil"></i>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</section>