<section>
	<div class="d-flex align-items-center min-vh-100">

		<main class="container m-auto form-container">

			<form class="text-center needs-validation" novalidate>

				<img alt="Логотип Lumincoin Finance" class="mb-5" src="images/logo.png">
				<h1 class="h3 mb-3 fw-normal fw-medium fs-1 form-title">Вход</h1>

				<div class="input-group mb-2">
					<span class="input-group-text" id="email-icon"><img alt="" src="images/envelope-open.svg"></span>
					<input class="form-control" placeholder="Электронная почта" required type="email">
					<div class="invalid-feedback">Неверная почта</div>
				</div>
				<div class="input-group mb-2">
					<span class="input-group-text" id=password-icon"><img alt="Иконка пароля"
					                                                      src="images/lock.svg"></span>
					<input class="form-control" placeholder="Пароль" required type="password">
					<div class="invalid-feedback">Неверный пароль</div>
				</div>
				<div class="form-check text-start mb-4">
					<input class="form-check-input" id="remember-me" type="checkbox" value="remember-me">
					<label class="form-check-label fs-12" for="remember-me">
						Запомнить меня
					</label>
				</div>
				<button class="btn btn-primary w-100 py-2 fw-medium" id="accept-button" type="button">Войти</button>
				<p class="text-start mt-2 fs-12">Ещё нет аккаунта? <a class="fs-12" href="#/registration">Пройдите
					регистрацию</a></p>

			</form>

		</main>

	</div>
</section>