
		<div class="container-fluid gx-0">

			<div class="position-relative fs-14 p-0 p-lg-4">

				<a class=" float-right rounded-circle position-absolute top-0 start-0 d-lg-none z-2"
				   href="javascript:void(0)" id="menu-toggle">
					<i class="bi bi-arrow-right-circle-fill h2"></i>
				</a>

				<div class="main-title h1 pb-1 text-center text-lg-start">Создание дохода/расхода</div>

				<form class="py-5 needs-validation" novalidate style="max-width: 400px">

					<div class="input-group mb-3">
						<select class="form-select" id="type" required>
							<option selected value="income">Доход</option>
							<option value="expense">Расход</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<select class="form-select" id="category" required>

<!--							category-->

						</select>
					</div>
					<div class="input-group mb-3">
						<input class="form-control" id="amount" placeholder="Сумма в $..." required type="text">
						<div class="invalid-feedback">Пожалуйста, заполните сумму.</div>
					</div>
					<div class="input-group mb-3">
						<input class="form-control" id="date" placeholder="Дата..." required type="date">
						<div class="invalid-feedback">Пожалуйста, заполните дату.</div>
					</div>
					<div class="input-group mb-3">
						<input class="form-control" id="comment" placeholder="Комментарий..." type="text">
					</div>

					<div class="d-flex pt-2 gap-2">
						<button class="btn btn-success" id="accept-button" type="button">Создать</button>
						<a href="#/operations" class="btn btn-danger" id="exit-button" type="button">Отмена</a>
					</div>

				</form>

			</div>
		</div>
