<section>
	<div class="container-fluid gx-0">

		<div class="position-relative fs-14 p-0 p-lg-4">

			<a class=" float-right rounded-circle position-absolute top-0 start-0 d-lg-none z-2"
			   href="javascript:void(0)" id="menu-toggle">
				<i class="bi bi-arrow-right-circle-fill h2"></i>
			</a>

			<div class="main-title h1 pb-1 text-center text-lg-start">Создание категории расходов</div>

			<form class="py-5 needs-validation">
				<div class="input-group mb-3" style="max-width: 400px">
					<input class="form-control" id="expense-name" name="expense-name" placeholder="Название..."
					       required type="text">
					<div class="invalid-feedback">Пожалуйста, заполните название.</div>
				</div>
				<div class="d-flex gap-2">
					<button class="btn btn-success" id="accept-button" type="button">Создать</button>
					<a class="btn btn-danger" href="#/expense" type="button">Отмена</a>
				</div>
			</form>

		</div>
	</div>
</section>