<section id="income-section">

	<div class="position-relative fs-14 p-0 p-lg-4">

		<!-- Menu toggle -->
		<a class="float-right rounded-circle position-absolute top-0 start-0 d-lg-none z-2"
		   href="javascript:void(0)" id="menu-toggle">
			<i class="bi bi-arrow-right-circle-fill h2"></i>
		</a>

		<!-- Main title -->
		<div class="main-title h1 pb-1 text-center text-lg-start">Доходы</div>

		<!-- Cards -->

		<div class="py-5">
			<div class="row row-gap-4" id="incomes-wrapper">

				<!-- Cards inserted here -->

			</div>
		</div>
	</div>

	<!-- Popup -->

</section>